*{
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
}

.intro{
    justify-content: center;
    text-align: center;
    background-color:#222831;
    color: #EEEEEE;
    display: block;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 15vh;
    }

.intro h1{
    font-size: 48px;
}

.intro h3{
    padding-top: 8vhh;
    padding-bottom: 2vh;
}

.rounded{
    width: 300px;
    margin: auto;
}

.rounded img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.biodata{
    justify-content: center;
    text-align: center;
    background-color:#D65A31;
    color: #EEEEEE;
    display: block;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 24vh;
}

.judul{
    font-size: 64px;
    font-weight: bold;
    padding-bottom: 6vh;
}

.subjudul{
    font-size: 36px;
    padding-top: 5vh;
}

.riwayat{
    justify-content: center;
    text-align: center;
    background-color:#EEEEEE;
    color: #222831;
    display: block;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 22vh;
}

.sekolah{
    font-size: 24px;
}

.fa {
    padding: 20px;
    font-size:30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 9px 6px;
  }
  

.fa-google {
    background: #dd4b39;
    color: white;
}
  
.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-facebook {
    background: #3B5998;
    color: white;
  }

.fa-instagram {
    background: #125688;
    color: white;
}